header {
	background: #fff;
	text-align: center;
	padding: 5px 0 5px 0;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 2px 0px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
}

header img {
	height: 60px;
}

#button {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	color: #fff;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 2px 0px;
	transition: 0.2s;
}

#button:hover {
	color: #fff;
	
	transition: 0.2s;
}

.login {
	right: 25px;
	background-color: #888888;
}
.login:hover {
	background-color: var(--main-color);
}

.api {
	left: 25px;
	background-color: #888888;
}
.api:hover {
	background-color: var(--main-color);
}

.logout {
	right: 25px;
	background-color: #e74c3c;
}

.logout:hover {
	background-color: #c0392b;
}

.dashboard {
	right: 175px;
	background-color: #888888;
}

.dashboard:hover {
	background-color: var(--main-color);
}

/* ***************  R E S P O N S I V E  M Q  *************** */

@media all and (max-width:800px) {

	header img {
		height: 35px;
	}

	.login {
		display: none;
	}
    
    .api {
		display: none;
	}

}