/*****  V A R I A B L E S  *****/

* {
    --main-color : #2980b9; /* Bleu */
}

/*****  G E N E R A L I T E S  *****/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: calc(100% - 60px);
}

body {
    color : #888888;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: #f8f9fa;
    background-image: url("../img/background.jpg");
    background-position: bottom;
    background-repeat : no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 125px;
    min-height: 100%;
    position: relative;
    padding-bottom: 60px;

}

hr {
    clear: both;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-color);
}



/*****  S L I D E S  *****/

section {
    padding-left: 20px;
    padding-right: 20px;
}

h2 {
    color: #000;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
}

.mySlides {
    display: none;
}

#liste-concert {
    text-align: center;
    display: block;
    width: 940px;
    position: relative;
    margin: auto;
}

#liste-concert li {
    background: #fff;
    width: 270px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 2px 0px;
    margin: 20px;
    display: inline-block;
    transition: 0.3s;
}

.trie li {
    padding-bottom: 20px;
}

#liste-concert li:hover {
    transition: 0.3s;
    transform: scale(1.03);
}

#liste-concert h3 {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    top: -57px;
}

.cover-index {
    width: 100%;
    height: 80px;
    border-radius: 10px 10px 0px 0px;
    background-position: top;
    background-size: cover;
    background-color: aqua;
}

.filtre-bleu {
    width: 270px;
    height: 80px;
    background: var(--main-color);
    position: absolute;
    opacity: 0.75;
    border-radius: 10px 10px 0px 0px;
}

#liste-concert p {
    position: relative;
    top: -20px;
    left: 20px;
    width: calc(270px - 20px);
    line-height: 2;
    text-align: left;
}

b {
    color: #000;
}

.mySlides a {
    display: inline-block;
}

#liste-concert a {
    padding: 5px 10px 5px 10px;
    border: var(--main-color) 2px solid;
    transition: 0.2s;
    margin-bottom: 15px;
}

#liste-concert a:hover {
    color: #fff;
    background-color: var(--main-color);
    transition: 0.2s;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    display: inline-block;
    margin-top: -22px;
    padding: 16px;
    font-size: 18px;
    transition: 0.2s;
    border-radius: 10px;
}

.prev {
    left: -52px;

}

.next {
    right: -52px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/*****  F I L T R E  *****/

section > h2 > span {
    color: var(--main-color);
}

form {
    width: 100%;
    text-align: center;
    display: block;
}

#liste-formulaire {
    background: #fff;
    width: 857px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 2px 0px;
    display: inline-block;
    text-align: center;
    padding: 10px 20px 10px 20px;
    margin : 20px 0 20px 0;

}

#liste-formulaire li {
    display: inline-block;
    margin: 10px 15px 10px 15px;

}

select, input[type=date] {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #888888;
    padding-right: 5px;
    border: 1px solid #888888;
    cursor: pointer;
}

input[type=submit] {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    padding: 5px 10px 5px 10px;
    border: var(--main-color) 2px solid;
    transition: 0.2s;
    display: inline-block;
    background-color: #fff;
    margin-top: 10px;
}

input[type=submit]:hover {
    color: #fff;
    background: var(--main-color);
    transition: 0.2s;
    cursor: pointer;
}

#liste-date, #liste-ville, #liste-prix {
    display: none;
}

.no-result {
    display: block;
    text-align: center;
    margin: 20px 0 20px 0;
}


/* ***************  R E S P O N S I V E  M Q  *************** */

@media all and (max-width:1060px) {

    html, body {
        height: 100%;
        margin: 0; padding: 0;
    }

    body {
        display : table;
        text-align: center;
        margin: auto;
        width: 90%;
        font-size: 13px;
        margin-top: 20px;
        padding-bottom: 70px;
    }
    header img {
		height: 35px;
	}

	.login {
		display: none;
	}

    h2 {
        font-size: 25px;
    }

    section {
        padding-left: 20px;
        padding-right: 20px;
        width: calc(100% - 40px);
        display: block;
        margin: auto;
        text-align: center;
    }

    #liste-concert {
        font-size: 13px;
        width: 100%;
        text-align: center;
        display: block;
        position: relative;
        margin: auto;
    }

    #liste-concert li {
        width: 200px;
        margin: 10px;
        display: inline-block;
    }

    #liste-concert li:hover {
        transform: scale(1);
    }

    .filtre-bleu {
        width: 200px;
    }
    
    #liste-concert p {
    position: relative;
    top: -20px;
    left: 20px;
    width: calc(200px - 20px);
    line-height: 2;
    text-align: left;
}

    a.prev, a.next {
        display: none;
    }

    #liste-formulaire {
        width: calc(100% - 40px);
    }

    select, input[type=date], input[type=submit] {
        font-size: 13px;
    }

    #liste-formulaire label {
        font-size: 13px;
        margin-bottom: 5px;
    }

    #liste-formulaire li {
        margin: 10px 0 10px 0;
    }

    footer {
        display : table-row;
    }


}