body {
	min-height: calc(100% - 125px);
}

section {
	padding-left: 20px;
	padding-right: 20px;
}

h2 {
	color: #000;
	font-size: 30px;
	text-align: center;
	margin-top: 40px;
}

section > p {
	color: #000;
	text-align: center;
	font-size: 14px;
	margin-top: 5px;
}

form {
	display: block;
}

table {
	display: inline-block;
	background-color: #fff;
	border-radius: 10px 10px 10px 10px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 2px 0px;
	padding: 10px 20px 10px 20px;
	margin : 20px 0 20px 0;
}

table td {
	text-align: left;
}

table td > input {
	border: #888888 solid 1px;
	font-size: 18px;
	margin: 10px;
	padding: 5px;
}

table td > input[type = email], table td > input[type = password] {
	width: 250px;
} 

table td[colspan="2"] {
	text-align: center;
}

.error, .succes {
	font-size: 14px;
	padding-left: 10px;
}

.error {
	color: #e74c3c;
}

.succes {
	color: green
}

td[colspan="2"].error {
	padding: 0;
}