/*****  V A R I A B L E S  *****/

* {
	--main-color : #2980b9; /* Bleu */
}

/*****  G E N E R A L I T E S  *****/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	height: calc(100% - 60px);
}

body {
	color : #888888;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	background-color: #f8f9fa;
	background-image: url("../img/background.jpg");
	background-position: bottom;
	background-repeat : no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin-top: 125px;
	min-height: 100%;
	position: relative;
	padding-bottom: 60px;

}

hr {
	clear: both;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--main-color);
}

/*****  O V E R L A Y  *****/

.ajouter {
	width: 525px;
	background-color: white;
	display: none;
	padding: 20px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 2px 0px;
	position: absolute;
	top: 0px; left: 50%;
	transform: translate(-50%);
	z-index: 2;
}

#ajouter-groupe, #modifier-groupe {
	width: 710px;
}

.ajouter h3 {
	color: black;
	font-size: 30px;
	margin-bottom: 20px;
}

.ajouter td {
	border: none;
	text-align: left;
	font-size: 18px;
}

.ajouter td.error {
	padding-top: 0;
	padding-bottom: 0;
	color: #e74c3c;
	font-size: 15px;
}

.ajouter td.info {
	padding-top: 0;
	padding-bottom: 0;
	color: black;
	font-size: 15px;
}

.ajouter input, .ajouter input[type=date], .ajouter input[type=time], .ajouter select, .ajouter textarea {
	border: solid 1px black;
	color: black;
	font-size: 18px;
	padding: 5px;
	font-family: 'Roboto', sans-serif;
}

.ajouter textarea {
	width: 324px;
}

.ajouter input[name=prix] {
	width: 65px;
	margin-right: 5px;
}

.ajouter input[type=submit] {
	padding: 5px 10px 5px 10px;
	border: var(--main-color) 2px solid;
	transition: 0.2s;
	display: inline-block;
	font-size: 18px;
	margin-right: 10px;
	color: var(--main-color);
}

.ajouter input[type=submit]:hover {
	color: #fff;
	background-color: var(--main-color);
	text-decoration: none;
	transition: 0.2s;
}

.ajouter input[type=reset] {
	padding: 5px 10px 5px 10px;
	border: #e74c3c 2px solid;
	transition: 0.2s;
	display: inline-block;
	font-size: 18px;
	background-color: transparent;
	color: #e74c3c;
}

.ajouter input[type=reset]:hover {
	color: #fff;
	background-color: #e74c3c;
	text-decoration: none;
	transition: 0.2s;
	cursor: pointer;
}

.ajouter a {
	font-size: 15px;
	margin-right: 30px;
	
}

.ajouter a:hover {
	text-decoration: underline;
}

#filtre-noir {
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
	background-color: black;
	opacity: 0.7;
	z-index: 1;
	margin: 0;
	padding: 0;
	display: none;
}

#filtre-noir:hover {
	cursor: pointer;
}

/*****  S E C T I O N  *****/

.container {
	text-align: center;
}

section {
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 10px;
	margin-left: 10px;
	display: inline-block;
}

h2 {
	color: #000;
	font-size: 30px;
	text-align: center;
	margin-top: 40px;
}

form {
	text-align: center;
	background: #fff;
	margin : 20px 0 20px 0;
	padding: 20px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 2px 0px;
}

form > p {
	padding: 5px 10px 5px 10px;
	border: var(--main-color) 2px solid;
	transition: 0.2s;
	display: inline-block;
	margin-bottom: 20px;
	color: var(--main-color);
}

form > p:hover {
	color: #fff;
	background-color: var(--main-color);
	transition: 0.2s;
	cursor: pointer
}

table {
	border-collapse: collapse;
}

td, th {
	text-align: center;
	border: solid 1px black;
	padding: 5px 10px;
	font-size: 15px;
}

th {
	color: black;
}

th i {
	color: #888888;
}

th i:hover {
	color: var(--main-color);
	cursor: pointer;
}

input[type=submit] {
	color: var(--main-color);
	font-size: 15px;
	background-color: transparent;
}

input[type=submit]:hover {
	text-decoration: underline;
	cursor: pointer;
}

.action {
	text-decoration: none;
	color: var(--main-color);
}

.action:hover {
	text-decoration: underline;
	cursor: pointer;
}