html, body {
	height: 100%;
	margin: 0; padding: 0;
}

body {
	display : table;
	text-align: center;
	margin: auto;
	width: 90%;
}

div.container {
	margin-top: 70px;
}

div.container h2 {
	margin-bottom: 15px;
}

div.container p {
	margin-bottom: 5px;
	line-height: 18px;
}

div.container div {
	margin-bottom: 10px;
}

div.container p.resume-concert {
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 2px 0px;
	background-color: white;
}

div.container input[type=email] {
	font-size: 13px;
	padding: 5px;
	font-family: 'Roboto', sans-serif;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 2px 0px;
}

div.container a, div.container input[type=submit] {
	font-size: 13px;
	padding: 5px 10px 5px 10px;
	background-color: transparent;
	border: var(--main-color) 2px solid;
	transition: 0.2s;
	display: inline-block;
	margin-top: 10px;
}

div.container a:hover, input[type=submit]:hover {
	color: #fff;
	background-color: var(--main-color);
	transition: 0.2s;
	cursor: pointer;
}

footer {
	display : table-row;
}

/* ***************  R E S P O N S I V E  M Q  *************** */

@media all and (min-width:800px) {

	div.container {
		margin-top: 125px;
		margin-bottom: 70px;
	}

	div.container p {
		margin-bottom: 10px;
		line-height: 20px;
	}

	div.container div {
		margin-bottom: 20px;
	}

	div.container p.resume-concert {
		padding: 10px;
	}

	div.container input[type=email] {
		padding: 10px;
		font-size: 18px;
	}

	div.container a, div.container input[type=submit] {
		font-size: 18px;
		margin-top: 20px;
	}

}