/***** Variables *****/

* {
    --main-color : #2980b9; /* Bleu */
    --espacement-div : 15px;
}

/***** Général *****/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
}

body {
    color : #888888;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #f8f9fa;
    position: relative;
    min-height: 100%;
}

hr {
    clear: both;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-color);
}


/***** Container *****/

div.container {
    width: 100%;
    margin: auto;
    text-align: center;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    display: none;
}


/***** Quitter *****/

header.quitter {
    width: 80%;
    display: block;
    text-align: right;
    background-color: transparent;
    box-shadow: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 5;
    cursor: pointer;
}

header.quitter a {
    color: white;
    font-size: 20px;
    text-shadow: rgba(0,0,0,.4) 1px 0 5px;
}

header.quitter a:hover {
    text-shadow: rgba(0,0,0,.8) 1px 0 5px;
}

/***** Carte *****/

div.card {
    width: 80%;
    display: block;
    margin: auto;
    background-color: white;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 2px 0px;
    border-radius: 10px;
    z-index: 1;
}


/***** Bandeau supérieur *****/

div.bandeau {
    width: 100%;
    height: 125px;
    border-radius: 10px 10px 0 0;
}


/***** Cover *****/

div.cover {
    width: 100%;
    height: 125px;
    border-radius: 10px 10px 0 0;
    background-position: top;
    background-size: cover;
    filter: brightness(45%);
    position: absolute;
    top: 0px;
    z-index: 0;
}


/***** Nom / Genre *****/

div.bandeau h2 {
    color: white;
    font-size: 20px;
    top: calc(var(--espacement-div) - 40px);
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    z-index: 1;
}

div.bandeau p {
    top: 45px;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    padding: 2.5px 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
}


/***** Profil *****/

div.profil {
    width: 100px;
    height: 100px;
    
    background-position: center;
    background-size: cover;
    border-radius: 100px;
    top: 75px;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    z-index: 1;
}


/***** Informations *****/

div.info table {
    margin-top: calc(50px + var(--espacement-div));
    border-collapse: collapse;
}

div.info th, div.info td {
    min-width: 33.33%;
    vertical-align: top;
    padding-left: var(--espacement-div);
    padding-right: var(--espacement-div);

}

div.info th {
    color: var(--main-color);
    padding-bottom: 10px;
}

.border {
    border-left: solid 1px #888888;
    border-right: solid 1px #888888;
}

td.bio {
    padding: var(--espacement-div);
    padding-bottom: 0;
}


/***** Bouton *****/

div.bouton {
    width: calc(100% - (var(--espacement-div) * 2));
    padding: var(--espacement-div);
}

div.bouton a {
    width: 100%;
    display: block;
    color: white;
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 10px 0;
}

div.bouton a:hover {
    background-color: #246da0;
}


/***** Filtre Noir *****/

#filtre-noir {
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
	background-color: black;
	opacity: 0.7;
	z-index: 1;
	margin: 0;
	padding: 0;
	display: none;
}

#filtre-noir:hover {
	cursor: pointer;
}

/* ***************  R E S P O N S I V E  M Q  *************** */

@media all and (min-width:800px) {

    /***** Variables *****/

    * {
        --main-color : #2980b9; /* Bleu */
        --espacement-div : 30px;
    }

    /***** Général *****/

    * {
        margin: 0;
        padding: 0;
        border: 0;
    }

    html {
        height: 100%;
    }

    body {
        color : #888888;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        background-color: #f8f9fa;
        position: relative;
        min-height: 100%;
    }

    hr {
        clear: both;
    }

    ul, ol {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: var(--main-color);
    }


    /***** Container *****/

    div.container {
        width: 100%;
        margin: auto;
        text-align: center;
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translate(-50%);
        z-index: 2;
    }


    /***** Quitter *****/

    header.quitter {
        width: 80%;
        max-width: 700px;
        display: block;
        text-align: right;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        z-index: 5;
        cursor: pointer;
    }

    header.quitter a {
        color: white;
        font-size: 40px;
        text-shadow: rgba(0,0,0,.4) 1px 0 5px;
    }

    header.quitter a:hover {
        text-shadow: rgba(0,0,0,.8) 1px 0 5px;
    }

    /***** Carte *****/

    div.card {
        width: 80%;
        max-width: 700px;
        display: block;
        margin: auto;
        background-color: white;
        position: absolute;
        top: 75px;
        left: 50%;
        transform: translate(-50%);
        box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 2px 0px;
        border-radius: 10px;
        z-index: 1;
    }


    /***** Bandeau supérieur *****/

    div.bandeau {
        width: 100%;
        height: 120px;
        border-radius: 10px 10px 0 0;
    }


    /***** Cover *****/

    div.cover {
        width: 100%;
        height: 240px;
        border-radius: 10px 10px 0 0;
        background-position: top;
        background-size: cover;
        filter: brightness(45%);
        position: absolute;
        top: 0px;
        z-index: 0;
    }


    /***** Nom / Genre *****/

    div.bandeau h2 {
        color: white;
        font-size: 40px;
        top: calc(var(--espacement-div) - 80px);
        left: 50%;
        transform: translate(-50%);
        padding-top: var(--espacement-div);
        position: absolute;
        z-index: 1;
    }

    div.bandeau p {
        top: 80px;
        left: 50%;
        transform: translate(-50%);
        background-color: white;
        padding: 2.5px 5px;
        border-radius: 5px;
        position: absolute;
        z-index: 1;
    }


    /***** Profil *****/

    div.profil {
        width: 175px;
        height: 175px;
        background-position: center;
        background-size: cover;
        border-radius: 100px;
        top: 145px;
        left: 50%;
        transform: translate(-50%);
        position: absolute;
        z-index: 1;
    }

    /***** Informations *****/

    div.info table {
        margin-top: calc(195px + var(--espacement-div));
        border-collapse: collapse;
        min-width: 100%;
    }

    div.info th, div.info td {
        min-width: 33.33%;
        vertical-align: top;
        padding-left: var(--espacement-div);
        padding-right: var(--espacement-div);

    }

    div.info th {
        color: var(--main-color);
        padding-bottom: 10px;
    }

    .border {
        border-left: solid 1px #888888;
        border-right: solid 1px #888888;
    }

    td.bio {
        padding: var(--espacement-div);
        padding-bottom: 0;
    }


    /***** Bouton *****/

    div.bouton {
        width: calc(100% - (var(--espacement-div) * 2));
        padding: var(--espacement-div);
    }

    div.bouton a {
        width: 100%;
        display: block;
        color: white;
        background-color: var(--main-color);
        border-radius: 5px;
        padding: 10px 0;
    }

    div.bouton a:hover {
        background-color: #246da0;
    }
}